  :root{
    --text-color:#0e0e0f;
    --text-light:#6f6f70;
    --collor-accent: #cc2222;

  }

  * {
    box-sizing: border-box;
  }
  
  *:before,
  *:after {
    box-sizing: border-box;
  }

  a{
    text-decoration: none;
  }

  .container{
    max-width: 1300px;
    margin: 0 auto;
  }

  body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }
  /* header */
  .mos-logo{
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-right: 12px;
  }
  .navbar-top{
    background-color: var(--collor-accent);
    height: 40px;
    padding-right:24px ;
    padding-left:24px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
  }

  .navbar-top a{
    color: white;
  }

  .navbar-bottom{
    height: 56px;
    border-bottom: 1px solid #ebecef;
    padding-right:24px ;
    padding-left:24px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-top-left img{
    padding-right: 8px;
  }
  .navbar-bottom-list{
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .navbar-bottom-list__item{
    list-style: none;
    color: var(--text-color);
    font-size: 18px;
    margin-right: 28px;

  }

  .navbar-bottom-list__item:hover{
    color: var(--collor-accent);
  }
/* end header */
/* top slider */
.top-slider{
  margin-top: 30px;
  height: 535px;
  background: url(../images/top-slider/bg-book.png) no-repeat;
}

.js-topslider{
  height: 536px;
  padding-right:24px ;
  padding-left:24px ;
  display: flex !important;
}

.slick-arrow{
  cursor: pointer;
}

.slider-item{
  margin: 150px 100px;
  padding: 30px;
  width: 500px !important;
  height: 200px;
  background-color: white;
  box-shadow: 4px 4px 24px 11px rgba(255, 255, 255, 0.28);
}

.slider-title{
  font-size: 32px;
  font-weight: 700;
  color: var(--text-color);
}

.slider-tex{
  font-size: 16px;
  color: var(--text-color);
  margin-top: 8px;
}





/* end top slider */