  :root {
    --text-color: #0e0e0f;
    --text-light: #6f6f70;
    --collor-accent: #cc2222;
  }

  * {
    box-sizing: border-box;
  }

  *:before, *:after {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  .container {
    max-width: 1300px;
    margin: 0 auto;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }

  /* header */

  .mos-logo {
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-right: 12px;
  }

  .navbar-top {
    background-color: var(--collor-accent);
    height: 40px;
    padding-right: 24px;
    padding-left: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  .navbar-top a {
    color: white;
  }

  .navbar-bottom {
    height: 56px;
    border-bottom: 1px solid #ebecef;
    padding-right: 24px;
    padding-left: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-top-left img {
    padding-right: 8px;
  }

  .navbar-bottom-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .navbar-bottom-list__item {
    list-style: none;
    color: var(--text-color);
    font-size: 18px;
    margin-right: 28px;
  }

  .navbar-bottom-list__item:hover {
    color: var(--collor-accent);
  }

  /* end header */

  /* top slider */

  .top-slider {
    margin-top: 30px;
    height: 535px;
    background: url(../images/top-slider/bg-book.png) no-repeat;
  }

  .js-topslider {
    height: 536px;
    padding-right: 24px;
    padding-left: 24px;
    display: flex !important;
  }

  .slick-arrow {
    cursor: pointer;
  }

  .slider-item {
    margin: 150px 100px;
    padding: 30px;
    width: 500px !important;
    height: 200px;
    background-color: white;
    box-shadow: 4px 4px 24px 11px rgba(255, 255, 255, 0.28);
  }

  .slider-title {
    font-size: 32px;
    font-weight: 700;
    color: var(--text-color);
  }

  .slider-tex {
    font-size: 16px;
    color: var(--text-color);
    margin-top: 8px;
  }

  /* end top slider */

  /* signin - signup page */
  .bc {
    background-color: #eee;
  }

  .main {
    width: 528px;
    margin: 48px auto;
    background: #fff;
  }

  .content_wrapper {
    padding: 24px 56px;
    text-align: center;
  }

  .system-logo img {
    max-height: 60px;
    float: left;
  }

  .system-name {
    color: #000;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    padding-left: 70px;
  }

  .system-header {
    padding: 18px 0 38px;
  }

  .page-title {
    text-align: center;
    color: #000;
    font-size: 22px;
    font-weight: 300;
    line-height: 28px;
    margin: 0 0 24px;
  }

  .auth-input {
    margin: 0 auto;
    width: 300px;
    position: relative;
    overflow: hidden;
    padding-top: 15px;
  }

  .auth-input input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #999999;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    position: relative;
    z-index: 5;
    background: none;
  }

  .auth-input input:focus~.line {
    left: 0;
    opacity: 1;
  }

  .auth-input .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: var(--collor-accent);
    left: -999px;
    -webkit-transition: .25s;
    transition: .25s;
    opacity: 0;
    z-index: 6;
  }

  .auth-input label {
    position: absolute;
    left: 10px;
    top: 45%;
    -webkit-transition: ease-out .15s;
    transition: ease-out .15s;
    color: #999999;
  }

  .auth-input input:focus~.auth-label, input:valid~.auth-label {
    top: 0px;
    -webkit-transform: scale(0.94) translateX(-2px);
    transform: scale(0.94) translateX(-2px);
    color: var(--collor-accent);
  }

  .auth-btn-style {
    margin: 30px 0 10px 0;
    background: var(--collor-accent);
    border: none;
    padding: 10px 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFF;
  }

  .auth-btn-style:focus {
    outline: none;
  }

  .auth-btn-style:hover {
    background-color: #d33c3c;
  }

  .signin-form {
    text-align: center;
    margin-bottom: 15px;
  }

  .signup-link {
    color: var(--text-light);
  }

  /* end signin - signup page */

  /* profile page */
  .ticket_wrapper{
    text-align: center;
    background-color: rgb(219, 219, 219);
    margin-top: 30px;
  }
  .ticket-title{
    padding-top: 40px;
    margin: 0 0 10px 0;
  }
  .ticket-info{
    margin: 10px auto;
    padding: 20px;  
  }
  .ticket-info-content{
    background-color: #fff;
    padding: 40px;
    width: 650px;
    margin: 0 auto;
  }
  .ticket-info-title{
    font-size: 18px;
    font-weight: 600;
    margin: 0 20px;
  }
  .ticket-info-text{
    margin: 30px 0 40px 0;
    font-size: 16px;
  }
  .profile_wrapper{
    display: flex;
  }
  .profile-username{
    font-size: 32px;
    font-weight: 700;
  }
  .profile-left{
    width: 80%;
  }
  .profile-right{
    width: 20%;
  }
  .ticket-img{
    background: url(../images/ticket.svg) no-repeat;
    background-position-x: 100%;
    background-size: 100%;
    display: inline-block;
    height: 240px;
    position: absolute;
    right: 250px;
    top: 126px;
    width: 340px;
  }
  /* end profile page */